@charset "UTF-8";
/*
	vertical-rhythmic
	
	Version : 2.0.0
	Author  : Aurélien Delogu (dev@dreamysource.fr)
	License : MIT
*/
/*
	number $vr-ratio
	number $vr-root-px
*/
/*
	Establish baseline

	Parameters
		number $font-size
		number $line-height
*/
/*
	Return a rhythm

	Parameters
		number $font-size
		number $factor

	Return
		number
*/
/*
	Convert REM value to PX

	Parameters
		number $value

	Return
		number
*/
@media (max-width: 1200px) {
  /* line 8, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  html {
    font-size: 90%; } }

@media (max-width: 992px) {
  /* line 8, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  html {
    font-size: 80%; } }

/* line 14, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
body {
  font-family: 'Arimo', sans-serif;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: background 0.5s ease-out 0s; }
  /* line 23, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  body.bg00.showSantaBg {
    background: url("./static/img/bg00.jpg") no-repeat left center fixed; }
    @media (max-width: 992px) {
      /* line 23, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
      body.bg00.showSantaBg {
        background: url("./static/img/bg00.jpg") no-repeat center center fixed; } }
  /* line 27, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  body.bg00 {
    background-color: black; }
  /* line 29, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  body.bg01 {
    background: url("./static/img/bg01.jpg") no-repeat left center fixed; }
  /* line 31, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  body.bg02 {
    background: url("./static/img/bg02.jpg") no-repeat left center fixed; }
  /* line 33, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  body.bg03 {
    background: url("./static/img/bg03.jpg") no-repeat left center fixed; }
  /* line 35, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  body.bg04 {
    background: url("./static/img/bg04.jpg") no-repeat left center fixed; }

/* line 38, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

/* line 42, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
p {
  font-size: 1.3rem;
  line-height: 1.7; }

/* line 48, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.btn {
  line-height: 1;
  background: white;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px;
  margin-top: 2rem;
  text-decoration: none;
  color: black; }
  /* line 58, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .btn:hover {
    background: #CCCCCC; }
  /* line 61, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .btn:disabled:hover {
    background: white; }

/* line 64, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.col-2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }

/* line 66, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.col-3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }

/* line 68, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.col-4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%; }

/* line 70, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.col-5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%; }

/* line 72, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.col-6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%; }

/* line 74, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-1 {
  margin-left: 8.47458%; }

/* line 76, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-2 {
  margin-left: 16.94915%; }

/* line 78, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-3 {
  margin-left: 25.42373%; }

/* line 80, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-4 {
  margin-left: 33.89831%; }

/* line 82, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-5 {
  margin-left: 42.37288%; }

/* line 84, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-6 {
  margin-left: 50.84746%; }

/* line 86, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-7 {
  margin-left: 59.32203%; }

/* line 88, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.offset-8 {
  margin-left: 67.79661%; }

/* line 91, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.sex-choose {
  display: none; }

/* line 95, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg00 .sex-choose {
  display: block;
  margin-top: 9rem; }
  @media (max-width: 768px) {
    /* line 95, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .bg00 .sex-choose {
      margin-top: 1rem; } }
  /* line 100, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .bg00 .sex-choose .btn {
    font-size: 1.5rem;
    background-color: #0C6E7F;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
    border: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
    /* line 108, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .bg00 .sex-choose .btn:hover {
      background-color: #1096ae; }

/* line 111, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.qst-screen {
  margin-top: 5rem;
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 16.94915%; }
  /* line 115, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .qst-screen .qstn-text {
    margin-top: 5rem; }
    /* line 117, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .qst-screen .qstn-text .qstn-title {
      padding: 2rem;
      font-size: 2rem;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
    /* line 121, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .qst-screen .qstn-text ul {
      list-style: none;
      margin: 0;
      padding: 0; }

/* line 126, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.btn.answer {
  padding: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in 0s;
  border: none; }
  /* line 131, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .btn.answer:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }

/* line 134, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.answer-0 {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  margin-left: 5rem; }

/* line 137, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.answer-1 {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg); }

/* line 139, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.answer-2 {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg); }

/* line 141, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.answer-3 {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  margin-left: 3rem; }

/* line 146, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg01 .qstn-title {
  background-color: #679935; }

/* line 148, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg01 .btn {
  background-color: #80BE43; }

/* line 152, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg02 .qstn-title {
  background-color: #e4df9a; }

/* line 154, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg02 .btn {
  background-color: #E7E3A6; }

/* line 158, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg03 .qstn-title {
  background-color: #3d9385; }

/* line 160, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg03 .btn {
  background-color: #60BDAD; }

/* line 164, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg04 .qstn-title {
  background-color: #5d7ab0; }

/* line 166, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.bg04 .btn {
  background-color: #90A4C9; }

/* line 170, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.final-img img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 100%;
  height: auto; }

/* line 177, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.quiz-again {
  position: fixed;
  top: 70px;
  right: 0.3rem;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  background-color: #0C6E7F;
  color: white;
  border: none; }
  @media (max-width: 768px) {
    /* line 177, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .quiz-again {
      top: 5px;
      margin: 0; } }
  /* line 189, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .quiz-again:hover {
    background-color: #084650; }

/* line 192, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
.social {
  position: fixed;
  right: 6px;
  top: 3px; }
  /* line 196, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .social p {
    font-size: 0.9rem;
    color: white;
    background-color: black; }
  @media (max-width: 768px) {
    /* line 192, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .social {
      bottom: 0;
      top: auto; } }
  /* line 203, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
  .social .btn {
    float: right;
    margin: 0;
    color: white;
    border: none;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    width: 1.3rem;
    text-align: center; }
    /* line 212, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .social .btn.fb {
      background: #3B5998; }
    /* line 214, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/partials/_style.sass */
    .social .btn.vk {
      background: #45668E; }

/* line 1, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 4, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
audio, canvas, video {
  display: inline-block; }

/* line 7, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 11, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
[hidden] {
  display: none; }

/* line 14, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 19, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
body {
  margin: 0; }

/* line 22, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
a:focus {
  outline: none; }

/* line 25, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
a:active, a:hover {
  outline: none; }

/* line 29, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
:focus {
  outline: none; }

/* line 32, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 36, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 39, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
b, strong {
  font-weight: bold; }

/* line 42, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
dfn {
  font-style: italic; }

/* line 45, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 50, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
mark {
  background: #ff0;
  color: #000; }

/* line 54, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 58, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
pre {
  white-space: pre-wrap; }

/* line 61, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 64, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
small {
  font-size: 80%; }

/* line 67, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 73, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
sup {
  top: -0.5em; }

/* line 76, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
sub {
  bottom: -0.25em; }

/* line 79, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
img {
  border: 0; }

/* line 82, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 85, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
figure {
  margin: 0; }

/* line 88, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 93, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 97, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 102, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
button, input {
  line-height: normal; }

/* line 105, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
button, select {
  text-transform: none; }

/* line 108, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 112, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 115, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 119, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 125, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 128, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 132, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 136, /Users/Trikster/static_sites/NewYearHero/_NewYearHero/src/sass/vendor/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }
